[flake8]
exclude = .git,.benchmarks,.pytest_cache,.vscode,__pycache__,old,build,dist,venv,requirements
max-complexity = 10
max-line-length = 120
inline-quotes = double
multiline-quotes = double
docstring-quotes = double
